<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459974615215-rajqmkjlkpjk7h2bcgdev50ttdqr2tdb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459974615215-rajqmkjlkpjk7h2bcgdev50ttdqr2tdb</string>
	<key>API_KEY</key>
	<string>AIzaSyDQdp-PTrRAfICSNuocGRJj1VC3tBAEMOg</string>
	<key>GCM_SENDER_ID</key>
	<string>459974615215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.closerBottomNavigationBar</string>
	<key>PROJECT_ID</key>
	<string>closer-user-test</string>
	<key>STORAGE_BUCKET</key>
	<string>closer-user-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459974615215:ios:5832c237547ca0b2af745a</string>
</dict>
</plist>